@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-blur-bg {
  background-color: #f8f8f8;
  backdrop-filter: blur(10px); /* Adjust value based on Figma */
  -webkit-backdrop-filter: blur(10px);
}
